.button {
    background-color: rgb(220, 220, 220);
    border: none;
}

.text-input {
    text-align: center;
}

.switch {
    text-align: right;
    width: 30%;
    margin: 0 auto;
}

body {
    background-color: rgb(220, 220, 220);
}